:root {
  --table-border-radius: 15px;
  --table-border-color: black;
  --table-header-title: beige;
  --table-header-day: chartreuse;
  --table-header-room: aqua;
  --table-time: red;
}

body {
  font-family: Arial, sans-serif;
  overflow: auto;
  margin: 50px;
  width: calc(300px + 7 * 3 * 150px);
  height: 100%;
}

table.calendar {
  margin-top: 30px;
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: var(--table-border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  thead {
    tr {
      height: 50px;
      &:first-child {
        th {
          &:first-child {
            border-radius: var(--table-border-radius) 0 0 0;
            background-color: var(--table-header-title);
          }
          &:last-child {
            border-radius: 0 var(--table-border-radius) 0 0;
          }
          &:not(:first-child) {
            border-left: none;
            border-bottom: none;
            background-color: var(--table-header-day);
          }
        }
      }
      &:not(:first-child) th {
        border-left: none;
        background-color: var(--table-header-room);
      }
      th {
        border: 1px solid var(--table-border-color);
      }
    }
  }
  tbody {
    tr {
      height: 15px;
      border: none;
      &:nth-child(4n) {
        border-bottom: 1px solid var(--table-border-color);
        background-color: yellowgreen;
      }
      &:last-child {
        td {
          border-bottom: 1px solid var(--table-border-color);
          &:last-child {
            border-radius: 0 0 var(--table-border-radius) 0;
          }
          &:first-child {
            border-radius: 0 0 0 var(--table-border-radius);
          }
        }
      }
      td {
        width: 150px;
        min-width: 150px;
        border-right: 1px solid var(--table-border-color);
        &:first-child {
          border-bottom: 1px solid var(--table-border-color);
          border-left: 1px solid var(--table-border-color);
          background-color: var(--table-time);;
        }
      }
    }
  }
}
