:root {
  /* General */
  --background-color: rgb(240, 250, 255);
  --text-color: rgb(15, 24, 70);
  --table-header-color: rgb(180, 225, 255);
  --table-header-title-color: rgb(210, 240, 255);
  --table-content-color: rgb(220, 240, 250);
  --table-content-color-highlighted: rgb(200, 215, 225);
  --table-content-calendar-color: rgb(228, 238, 253);
  --table-content-calendar-color-highlighted: rgb(188, 207, 236);
  --font-family: "Comic Sans MS", "Comic Sans", cursive;
  /* Calendar */
  --table-margin-top: 20px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --table-border-radius: 15px;
  --table-border-color: rgb(105, 105, 105);
  --table-border-thick-color: black;
  --table-border: 1px solid var(--table-border-color);
  --table-border-thick: 1px solid var(--table-border-thick-color);
  --table-header-title: var(--table-header-title-color);
  --table-header-day: var(--table-header-color);
  /* hauteur des headers des jours */
  --table-header-height: 20px;
  --table-time: var(--table-header-color);
  --table-content: var(--table-content-color);
  --table-content-highlighted: var(--table-content-color-highlighted);
  --table-content-calendar: var(--table-content-calendar-color);
  --table-content-calendar-highlighted: var(--table-content-calendar-color-highlighted);
  /* longueur des cellules des heures du calendrier */
  --table-time-td-width: 40px;
  /* longueur des cellules du calendrier */
  --table-content-td-width: 60px;
  /* hauteur des cellules du calendrier */
  --table-content-td-height: calc(var(--table-content-td-width) / 2);
  /* Largeur de la page -> modifié dynamiquement avec JS */
  --page-width: 0px;
  /* lorsqu'on selectionne une leçon dans le calendrier */
  --highlighted-lesson-opacity: 0.5;
  /* colonne weekend */
  --table-weekend-width: 25px;
  --table-weekend-color: gray;
  --table-holiday-color: rgb(150, 165, 190);
  --table-closed-color: rgb(200, 200, 200);

  /* Lessons */
  --table-lesson-margin-top: 10px;
  --table-lesson-header: var(--table-header-color);
  --table-lesson-content: var(--table-content-color);
  --table-button-remove: rgb(160, 7, 7);
  --table-button-remove-hover: rgb(247, 5, 5);
  --table-button-add: rgb(0, 91, 12);
  --table-button-add-hover: rgb(0, 187, 25);
  --table-lesson-header-height: 30px;
  --table-lesson-content-td-height: 50px;
  --table-lesson-action-td-width: 100px;
  --table-lesson-content-td-width: 170px;
  --input-select-width: 80%;

  /* Teachers */
  --table-teacher-margin-top: 20px;
  --table-teacher-header: var(--table-header-color);
  --table-teacher-content: var(--table-content-color);
  --table-teacher-header-height: 40px;
  --table-teacher-content-td-height: 80px;
  --table-teacher-content-td-width: 150px;
  --table-teacher-content-td-width-larger: 210px;
  --table-teacher-content-td-width-smaller: 100px;

  /* Levels */
  --table-level-margin-top: 66px;
  --table-level-header: var(--table-header-color);
  --table-level-content: var(--table-content-color);
  --table-level-header-height: var(--table-teacher-header-height);
  --table-level-content-td-height: 40px;
  --table-level-content-td-width: 80px;
  --table-level-content-td-level-width: 120px;

  /* Parameter */
  --table-parameter-margin-top: 10px;
  --table-parameter-header: var(--table-header-color);
  --table-parameter-content: var(--table-content-color);
  --table-parameter-header-height: 30px;
  --table-parameter-content-td-height: 50px;
  --table-parameter-content-td-width: 150px;

  /* Open days */
  --table-open-days-margin-top: 50px;
  --table-open-days-header-height: 30px;
  --table-open-days-header: var(--table-header-color);
  --table-open-days-content: var(--table-content-color);
  --table-open-days-content-td-height: 30px;
  --table-open-days-content-td-width: 80px;
  --table-open-days-content-td-day-width: 150px;

  /* Info */
  --info-color: rgb(250, 254, 255);
  /* inputs and buttons */
  --input-color: white;
  --input-color-hover: rgb(229, 229, 229);

  --button-color: rgb(225, 241, 255);
  --button-color-hover: rgb(202, 230, 255);

  --navigation-button-color: white;
  --navigation-button-color-hover: rgb(231, 243, 246);
}

body {
  overflow: auto;
  margin: 50px;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

button,
input,
select {
  display: inline-block;
  border: var(--table-border);
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-family: var(--font-family);
}
input,
select {
  background-color: var(--input-color);
}
button:not(.reset),
input,
select.bigger {
  padding: 4px 8px;
}
input:hover,
select.bigger:hover {
  background-color: var(--input-color-hover);
}
select:not(.bigger):hover {
  background-color: rgb(245, 245, 245);
}
#file-input-constraints,
#file-input {
  display: none;
}
.margin {
  margin-right: 15px;
}
.custom-file-input {
  display: inline-block;
  padding: 4px 8px;
  border: var(--table-border);
  color: var(--text-color);
  background-color: var(--button-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
}
.custom-file-input:hover {
  background-color: var(--button-color-hover);
}
.csv {
  width: 100px;
}
button:not(.csv):not(.generate):not(.reset),
input[type="submit"]:not(.add) {
  width: 140px;
}
button.generate {
  width: 200px;
}
button:not(.reset),
input[type="submit"]:not(.add) {
  height: 30px;
  margin-right: 30px;
}
button,
input[type="submit"]:not(.add) {
  background-color: var(--button-color);
}
button:hover,
input[type="submit"]:not(.add):hover {
  background-color: var(--button-color-hover);
}
button.navigation,
input[type="submit"].navigation {
  background-color: var(--navigation-button-color);
  font-size: medium;
}
button.navigation:hover,
input[type="submit"].navigation:hover {
  background-color: var(--navigation-button-color-hover);
}
button.reset {
  height: 30px;
  width: 30px;
}

/* Calendar */
div#calendar-wrapper {
  margin-top: 38px;
  min-width: var(--page-width);
}
div#lessons-wrapper {
  margin-top: 50px;
  height: 200px;
}
table.calendar {
  margin-top: var(--table-margin-top);
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: var(--table-border-radius);
  box-shadow: var(--box-shadow);
}
table.calendar thead tr th {
  height: var(--table-header-height);
}
/* Titre du tableau */
table.calendar thead tr:first-child th:first-child {
  border-radius: var(--table-border-radius) 0 0 0;
  background-color: var(--table-header-title);
  border-left: var(--table-border);
}
table.calendar thead tr:last-child th:first-child {
  background-color: var(--table-header-title);
  border-left: var(--table-border);
  border-right: var(--table-border);
  border-bottom: var(--table-border);
}
table.calendar thead tr:first-child th:last-child {
  border-radius: 0 var(--table-border-radius) 0 0;
}
table.calendar thead tr {
  font-size: x-small;
}
table.calendar thead tr:first-child th:not(:first-child):not(.weekend) {
  /* Les jours */
  border-left: none;
  border-bottom: var(--table-border);
}
table.calendar thead tr:last-child th:not(:first-child):not(.weekend) {
  border-right: var(--table-border);
  border-bottom: var(--table-border-thick);
}
table.calendar thead tr th:not(:first-child):not(.weekend):not(.holiday):not(.closed) {
  background-color: var(--table-header-day);
}
table.calendar thead tr:first-child th {
  border-top: var(--table-border);
}
table.calendar thead tr:first-child th:not(.weekend) {
  border-right: var(--table-border);
}
table.calendar tbody tr {
  font-size: x-small;
}
table.calendar tbody tr td:first-child {
  border-right: var(--table-border-thick);
}
table.calendar tbody tr:last-child td {
  border-bottom: var(--table-border);
}
table.calendar tbody tr:last-child td:last-child {
  border-radius: 0 0 var(--table-border-radius) 0;
}
table.calendar tbody tr:last-child td:first-child {
  border-radius: 0 0 0 var(--table-border-radius);
}
table.calendar tbody tr td {
  border-bottom: var(--table-border);
  height: var(--table-content-td-height);
  text-align: center;
}
/* Les heures */
table.calendar tbody tr td:first-child {
  background-color: var(--table-time);
  width: var(--table-time-td-width);
  min-width: var(--table-time-td-width);
  border-left: var(--table-border);
  font-weight: bold;
}
/* Le contenu */
table.calendar tbody tr td:not(:first-child):not(.weekend) {
  width: var(--table-content-td-width);
  min-width: var(--table-content-td-width);
  border-right: var(--table-border);
}
table.calendar .booked,
table.calendar .free {
  cursor: pointer;
}
table.calendar tbody tr td:not(:first-child).booked.highlighted-lesson {
  opacity: var(--highlighted-lesson-opacity);
}

table.calendar th.weekend,
table.calendar td.weekend {
  background-color: var(--table-weekend-color);
  border-bottom: none;
  width: var(--table-weekend-width);
  min-width: var(--table-weekend-width);
}

table.calendar th.holiday,
table.calendar td.holiday {
  background-color: var(--table-holiday-color);
}

table.calendar th.closed,
table.calendar td.closed {
  background-color: var(--table-closed-color);
}

table.calendar
  tbody
  tr
  td:not(:first-child):not(.booked):not(.weekend):not(.holiday):not(.closed) {
  background-color: var(--table-content-calendar);
}

/* Lessons */
table.lessons {
  margin-top: var(--table-lesson-margin-top);
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: var(--table-border-radius);
  box-shadow: var(--box-shadow);
}
table.lessons thead tr th {
  height: var(--table-lesson-header-height);
  border: var(--table-border);
  border-bottom: var(--table-border-thick);
  background-color: var(--table-lesson-header);
}
table.lessons thead tr th:not(:last-child) {
  width: var(--table-lesson-content-td-width);
  min-width: var(--table-lesson-content-td-width);
}
table.lessons thead tr th:last-child {
  width: var(--table-lesson-action-td-width);
  min-width: var(--table-lesson-action-td-width);
}
table.lessons thead tr th:first-child {
  border-radius: var(--table-border-radius) 0 0 0;
}
table.lessons thead tr th:not(:first-child) {
  border-left: none;
}
table.lessons thead tr th:last-child {
  border-radius: 0 var(--table-border-radius) 0 0;
}
table.lessons tbody tr:not(:first-child) td:first-child {
  text-align: left;
  padding-left: 15px;
}
table.lessons tbody tr form {
  border-left: var(--table-border);
}
table.lessons tbody tr td {
  background-color: var(--table-lesson-content);
  height: var(--table-lesson-content-td-height);
  text-align: center;
  border-right: var(--table-border);
  border-bottom: var(--table-border);
  font-size: small;
}
table.lessons tbody tr td:first-child {
  border-left: var(--table-border);
}
table.lessons tbody tr td:not(:first-child) {
  border-left: none;
}
table.lessons tbody tr:last-child td:last-child {
  border-radius: 0 0 var(--table-border-radius) 0;
}
table.lessons tbody tr:last-child td:first-child {
  border-radius: 0 0 0 var(--table-border-radius);
}
table.lessons input:not([type="submit"]),
table.lessons select {
  width: var(--input-select-width);
  min-width: var(--input-select-width);
}
table.lessons input[type="submit"],
table.lessons div.button {
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: small;
}
table.lessons input[type="submit"] {
  background-color: var(--table-button-add);
}
table.lessons input[type="submit"]:hover {
  background-color: var(--table-button-add-hover);
}
table.lessons div.button {
  background-color: var(--table-button-remove);
}
table.lessons div.button:hover {
  background-color: var(--table-button-remove-hover);
}

/* Dans le tableau des leçons */

td div.two-col-td {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
td div.two-col-td div:first-child {
  margin-left: 20px;
}
td div.two-col-td div:last-child {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 15px;
}

/* Teachers */
table.teachers {
  margin-top: var(--table-teacher-margin-top);
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: var(--table-border-radius);
  box-shadow: var(--box-shadow);
}
table.teachers thead tr th {
  height: var(--table-teacher-header-height);
  border: var(--table-border);
  border-bottom: var(--table-border-thick);
  background-color: var(--table-teacher-header);
}
table.teachers thead tr th:first-child {
  border-radius: var(--table-border-radius) 0 0 0;
}
table.teachers thead tr th:not(:first-child) {
  border-left: none;
}
table.teachers thead tr th:last-child {
  border-radius: 0 var(--table-border-radius) 0 0;
}
table.teachers tbody tr form {
  border-left: var(--table-border);
}
table.teachers tbody tr td {
  background-color: var(--table-teacher-content);
  height: var(--table-teacher-content-td-height);
  text-align: center;
  border-right: var(--table-border);
  border-bottom: var(--table-border);
  font-size: small;
}
table.teachers tbody tr td:not(:first-child):not(:nth-child(4)) {
  width: var(--table-teacher-content-td-width);
  min-width: var(--table-teacher-content-td-width);
}
table.teachers tbody tr td:first-child {
  width: var(--table-teacher-content-td-width-smaller);
  min-width: var(--table-teacher-content-td-width-smaller);
}
table.teachers tbody tr td:nth-child(4) {
  width: var(--table-teacher-content-td-width-larger);
  min-width: var(--table-teacher-content-td-width-larger);
}
table.teachers tbody tr td:first-child {
  border-left: var(--table-border);
}
table.teachers tbody tr td:not(:first-child) {
  border-left: none;
}
table.teachers tbody tr:last-child td:last-child {
  border-radius: 0 0 var(--table-border-radius) 0;
}
table.teachers tbody tr:last-child td:first-child {
  border-radius: 0 0 0 var(--table-border-radius);
}

/* Levels */
table.levels {
  margin-top: var(--table-level-margin-top);
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: var(--table-border-radius);
  box-shadow: var(--box-shadow);
}
table.levels thead tr th {
  height: var(--table-level-header-height);
  border: var(--table-border);
  border-bottom: var(--table-border-thick);
  background-color: var(--table-level-header);
}
table.levels thead tr th:first-child {
  border-radius: var(--table-border-radius) 0 0 0;
}
table.levels thead tr th:not(:first-child) {
  border-left: none;
}
table.levels thead tr th:last-child {
  border-radius: 0 var(--table-border-radius) 0 0;
}
table.levels tbody tr form {
  border-left: var(--table-border);
}
table.levels tbody tr td {
  background-color: var(--table-level-content);
  height: var(--table-level-content-td-height);
  text-align: center;
  border-right: var(--table-border);
  border-bottom: var(--table-border);
  font-size: small;
}
table.levels tbody tr td:first-child {
  width: var(--table-level-content-td-level-width);
  min-width: var(--table-level-content-td-level-width);
}
table.levels tbody tr td:last-child {
  width: var(--table-level-content-td-width);
  min-width: var(--table-level-content-td-width);
}

table.levels tbody tr td:first-child {
  border-left: var(--table-border);
}
table.levels tbody tr td:not(:first-child) {
  border-left: none;
}
table.levels tbody tr:last-child td:last-child {
  border-radius: 0 0 var(--table-border-radius) 0;
}
table.levels tbody tr:last-child td:first-child {
  border-radius: 0 0 0 var(--table-border-radius);
}

/* Parameter */
h1.parameters {
  margin-top: 80px;
}
h1.teachers-levels {
  margin-top: 110px;
}
table.parameter {
  margin-top: var(--table-parameter-margin-top);
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: var(--table-border-radius);
  box-shadow: var(--box-shadow);
}
table.parameter thead tr th {
  height: var(--table-parameter-header-height);
  border: var(--table-border);
  border-bottom: var(--table-border-thick);
  background-color: var(--table-parameter-header);
}
table.parameter thead tr th:first-child {
  border-radius: var(--table-border-radius) 0 0 0;
}
table.parameter thead tr th:not(:first-child) {
  border-left: none;
}
table.parameter thead tr th:last-child {
  border-radius: 0 var(--table-border-radius) 0 0;
}
table.parameter tbody tr form {
  border-left: var(--table-border);
}
table.parameter tbody tr td {
  background-color: var(--table-parameter-content);
  height: var(--table-parameter-content-td-height);
  text-align: center;
  border-right: var(--table-border);
  border-bottom: var(--table-border);
  font-size: small;
  width: var(--table-parameter-content-td-width);
  min-width: var(--table-parameter-content-td-width);
}

table.parameter tbody tr td:first-child {
  border-left: var(--table-border);
}
table.parameter tbody tr td:not(:first-child) {
  border-left: none;
}
table.parameter tbody tr:last-child td:last-child {
  border-radius: 0 0 var(--table-border-radius) 0;
}
table.parameter tbody tr:last-child td:first-child {
  border-radius: 0 0 0 var(--table-border-radius);
}
table.parameter tbody tr td input {
  width: 60%;
}

/* Open days */

table.open-days {
  margin-top: var(--table-open-days-margin-top);
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: var(--table-border-radius);
  box-shadow: var(--box-shadow);
}
table.open-days thead tr th {
  height: var(--table-open-days-header-height);
  border: var(--table-border);
  border-bottom: var(--table-border-thick);
  background-color: var(--table-open-days-header);
}
table.open-days thead tr th:first-child {
  border-radius: var(--table-border-radius) 0 0 0;
}
table.open-days thead tr th:not(:first-child) {
  border-left: none;
}
table.open-days thead tr th:last-child {
  border-radius: 0 var(--table-border-radius) 0 0;
}
table.open-days tbody tr form {
  border-left: var(--table-border);
}
table.open-days tbody tr td {
  background-color: var(--table-open-days-content);
  height: var(--table-open-days-content-td-height);
  text-align: center;
  border-right: var(--table-border);
  border-bottom: var(--table-border);
  font-size: small;
}
table.open-days tbody tr td:first-child {
  width: var(--table-open-days-content-td-day-width);
  min-width: var(--table-open-days-content-td-day-width);
}
table.open-days tbody tr td:last-child {
  width: var(--table-open-days-content-td-width);
  min-width: var(--table-open-days-content-td-width);
}
table.open-days tbody tr td:first-child {
  border-left: var(--table-border);
}
table.open-days tbody tr td:not(:first-child) {
  border-left: none;
}
table.open-days tbody tr:last-child td:last-child {
  border-radius: 0 0 var(--table-border-radius) 0;
}
table.open-days tbody tr:last-child td:first-child {
  border-radius: 0 0 0 var(--table-border-radius);
}

.two-col-layout {
  display: inline-block;
  vertical-align: top;
}
.first-col {
  margin-right: 80px;
}
.first-col-less {
  margin-right: 50px;
}
.result {
  margin-top: 30px;
}

li.main {
  margin-bottom: 15px;
}
li.main-teacher {
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

ul:not(.info) {
  background-color: var(--info-color);
  border-radius: var(--table-border-radius);
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 20px;
  border: var(--table-border);
}
.period-info {
  margin-top: 50px;
  width: 1100px;
}
ul:not(.period):not(.info) {
  height: 500px;
  overflow-y: auto;
}
ul.teachers-ul {
  width: 700px;
}
ul.levels-ul {
  width: 250px;
}

#not-erase-data,
#erase-data,
#not-erase-constraints,
#erase-constraints {
  width: 120px;
}

.export {
  margin-right: 60px
}
#score {
  font-size: large;
}
