body {
  font-family: Arial, sans-serif;
}

// #calendar-wrapper {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   justify-items: center;
//   align-items: center;
//   & > div {
//     border-radius: 10px;
//     overflow: hidden;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
//     margin: 30px 0;
//   }
// }

// .calendar-header {
//   text-align: center;
//   background-color: #007bff;
//   color: white;
//   padding: 10px 0;
//   font-size: 1.2em;
// }

// .calendar-table {
//   width: 100%;
//   border-collapse: collapse;
// }

// .calendar-table th,
// .calendar-table td {
//   width: 50px;
//   text-align: center;
//   padding: 5px;
//   border: 1px solid #d0d0d0;
// }

// .calendar-table th {
//   background-color: #f1f8ff;
// }
// .calendar-table td {
//   height: 35px;
// }

// .calendar-table tbody {
//   tr:nth-child(odd) {
//     td:not(.not-selected) {
//       background-color: #f1f8ff;
//     }
//   }
//   tr:nth-child(even) {
//     td:not(.not-selected) {
//       background-color: #e3f1ff;
//     }
//   }
//   td.not-selected {
//     background-color: #ffffff;
//   }
// }

// .highlight-circle {
//   display: inline-block;
//   width: 30px;
//   height: 30px;
//   line-height: 30px;
//   border-radius: 50%;
//   background-color: #007bff;
//   color: white;
//   text-align: center;
// }

table {
  &.collapse {
    border-collapse: collapse;
    border: 1px solid;
  }
  thead {
    tr {
      height: 50px;
      th {
        border: 1px solid black;
        width: 150px;
      }
    }
  }
  tbody {
    tr {
      height: 15px;
      border: none;
      &:nth-child(4n) {
        border-bottom: 1px solid black;
      }
      td {
        width: 150px;
        border-left: 1px solid black;
        border-right: 1px solid black;
      }
      td:first-child {
        border: 1px solid black;
      }
    }
  }
}
