:root {
  --table-margin-top: 30px;
  --table-border-radius: 15px;
  --table-border-color: rgb(100, 100, 100);
  --table-border-thick-color: black;
  --table-border: 1px solid var(--table-border-color);
  --table-border-thick: 1px solid var(--table-border-thick-color);
  --table-border-dashed: 1px dashed var(--table-border-color);
  --table-header-title: beige;
  --table-header-day: chartreuse;
  /* hauteur des headers des jours */
  --table-header-day-height: calc(var(--table-header-room-height) + 10px);
  --table-header-room: aqua;
  /* hauteur des headers des salles */
  --table-header-room-height: calc(var(--table-content-td-height) + 15px);
  --table-time: red;
  --table-content: burlywood;
  /* hauteur des cellules du calendrier */
  --table-content-td-height: 10px;
  /* longueur des cellules des heures du calendrier */
  --table-time-td-width: 50px;
  /* longueur des cellules du calendrier: modifier dynamiquement avec JS */
  --table-content-td-width: 100px;
  /* hauteur des quarts de cellule du calendrier */
  --table-quarter-height: calc(var(--table-content-td-width) / 10);
  /* Largeur de la page */
  --page-width: calc(300px + 7 * 3 * var(--table-content-td-width));
}

body {
  font-family: Arial, sans-serif;
  overflow: auto;
  margin: 50px;
  width: var(--page-width);
  height: 100%;
}

table {
  margin-top: var(--table-margin-top);
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: var(--table-border-radius);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  thead tr {
    &:first-child th {
      height: var(--table-header-day-height);
      &:first-child {
        /* Titre du tableau */
        border-radius: var(--table-border-radius) 0 0 0;
        background-color: var(--table-header-title);
      }
      &:last-child {
        border-radius: 0 var(--table-border-radius) 0 0;
      }
      &:not(:first-child) {
        /* Les jours */
        border-left: none;
        border-bottom: none;
        background-color: var(--table-header-day);
      }
    }
    &:not(:first-child) th {
      /* Les salles */
      height: var(--table-header-room-height);
      border-left: none;
      background-color: var(--table-header-room);
    }
    th {
      border: var(--table-border);
    }
  }
  tbody tr {
    height: var(--table-quarter-height);
    &:nth-child(4n) td {
      border-bottom: var(--table-border);
    }
    &:last-child {
      td {
        border-bottom: var(--table-border);
        &:last-child {
          border-radius: 0 0 var(--table-border-radius) 0;
        }
        &:first-child {
          border-radius: 0 0 0 var(--table-border-radius);
        }
      }
    }
    td {
      height: var(--table-content-td-height);
      border-bottom: var(--table-border-dashed);
      text-align: center;
      /* Les heures */
      &:first-child,
      &:nth-child(2) {
        background-color: var(--table-time);
        width: var(--table-time-td-width);
        min-width: var(--table-time-td-width);
        font-size: x-small;
      }
      &:first-child {
        border-left: var(--table-border);
        border-right: none;
        text-align: left;
        vertical-align: top;
        padding-left: 5px;
      }
      &:nth-child(2) {
        border-left: none;
        text-align: right;
        vertical-align: bottom;
        padding-right: 5px;
      }
      /* Le contenu */
      &:not(:first-child):not(:nth-child(2)) {
        width: var(--table-content-td-width);
        min-width: var(--table-content-td-width);
        border-right: var(--table-border);
        background-color: var(--table-content);
        font-size: small;
        &.booked {
          background-color: blueviolet;
        }
      }
    }
  }
}
